.adding-goods {
  padding: 24px;
  width: 332px;

  background: #FFFEFB;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.04), 0 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;

  .field {
    position: relative;

    &__name {
      position: relative;
      display: inline-flex;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 13px;
      color: #49485E;
    }

    &__input, &__textarea {
      margin-top: 4px;
      padding: 10px 16px;
      width: 284px;
      background: #FFFEFB;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      color: #3F3F3F;

      &::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #B4B4B4;
      }
    }

    &__input {
      height: 36px;

      &.required {
        border: 1px solid #FF8484;
      }
    }

    &__textarea {
      resize: none;
      height: 108px;
    }

    &:not(:first-child) {
      margin-top: 16px;
    }

    &.required {
      .field__name:before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        top: 1px;
        right: -5px;

        background: #FF8484;
        border-radius: 4px;
      }
    }

    &__error {
      position: absolute;
      left: 0;
      bottom: -12px;
      font-style: normal;
      font-weight: normal;
      font-size: 8px;
      line-height: 10px;
      letter-spacing: -0.02em;
      color: #FF8484;
    }
  }

  &__submit {
    margin-top: 24px;
    width: 284px;
    height: 36px;
    left: 56px;
    top: 463px;

    background: #7BAE73;
    border-radius: 10px;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #FFFFFF;

    &.disabled {
      background: #EEEEEE;
      color: #B4B4B4;
    }
  }
}
