<form class="adding-goods" @submit="submitForm" @input="checkFormValues">
  <div :class="['adding-goods__field', 'field', {'required': true}]">
    <h3 class="field__name">Наименование товара</h3>
    <label class="field__label">
      <input
        name="name"
        :class="['field__input', {'required': this.values.name.warn}]"
        type="text"
        placeholder="Введите название товара"
        autocomplete="off"
        @input="valueChanged"
        @focusout="valueChanged"
      >
    </label>
    <div class="field__error" v-if="values.name.warn">Поле является обязательным</div>
  </div>
  <div class="adding-goods__field field">
    <h3 class="field__name">Описание товара</h3>
    <label class="field__label">
      <textarea name="desc" class="field__textarea" type="text" placeholder="Введите описание товара"></textarea>
    </label>
  </div>
  <div :class="['adding-goods__field', 'field', {'required': true}]">
    <h3 class="field__name">Ссылка на изображение товара</h3>
    <label class="field__label">
      <input
        name="url"
        :class="['field__input', {'required': this.values.url.warn}]"
        type="text"
        placeholder="Введите ссылку"
        autocomplete="off"
        @input="valueChanged"
        @focusout="valueChanged"
      >
    </label>
    <div class="field__error" v-if="this.values.url.warn">Поле является обязательным</div>
  </div>
  <div :class="['adding-goods__field', 'field', {'required': true}]">
    <h3 class="field__name">Цена товара</h3>
    <label class="field__label">
      <input
        name="cost"
        :class="['field__input', {'required': this.values.cost.warn}]"
        type="number"
        placeholder="Введите цену"
        autocomplete="off"
        @input="valueChanged"
        @focusout="valueChanged"
      >
    </label>
    <div class="field__error" v-if="this.values.cost.warn">Поле является обязательным</div>
  </div>
  <button
    :class="['adding-goods__submit', {'disabled': this.isValuesEmpty }]"
    type="submit"
    :disabled="isValuesEmpty"
  >
    Добавить товар
  </button>
</form>
