html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

html, body, .wrapper {
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select {
  border: 1px solid transparent;
  background: none;
  outline: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
