html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

html, body, #app {
  width: 100%;
  height: 100%;
}

input,
button,
textarea {
  border: 1px solid transparent;
  background: none;
  outline: none;
}
